.item-a {
    grid-area: header;
}

.item-b {
    grid-area: main;
}

.item-c {
    grid-area: obj1
}

.item-d {
    grid-area: obj2;
}

.item-e {
    grid-area: obj3;
}

.item-f {
    grid-area: footer;
}

.item-g {
    grid-area: sidebar;
}

.container {
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: auto;
    grid-template-areas:
    "header header header header"
    "main main . sidebar"
    "footer footer footer footer";
    }